# Discord Developer Portal -> Bot -> Token
DISCORD_TOKEN=
# Discord Developer Portal -> General Information -> Application ID
CLIENT_ID=
# (Opsiyonel) Doluysa komutlar sadece bu sunucuya anında yüklenir. Boşsa global yüklenir (1 saat sürebilir).
GUILD_ID=
